html, body {
  font-family: arial;
  background-color: #112D32;
  color: #DDDDDD;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.header {
  height: 4em;
  width: 100vw;
}

#gui_name {
  height: 2em;
  width: -webkit-fill-available;
  /* background-color: #FC4445; */
  background-color: #8D8741;
  color: white;
  line-height: 2em;
  padding-left: 2em;
}

#header_nav {
  height: 2em;
  width: -webkit-fill-available;
  background-color: #254E58;
  line-height: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.nav_item {
  height: 100%;
  display: inline-block;
  margin-right: 2em;
  position: relative;
  cursor: pointer;
}

.nav_item_right {
  height: 100%;
  display: inline-block;
  margin-left: 2em;
  position: relative;
  float: right;
  cursor: pointer;
}

.nav_item .centered {
  /* vertical-align: middle; */
  vertical-align: middle;
  /* display: inline-block; */
}

.header_svg_container {
  height: 50%;
  display: inline-block;
  vertical-align: middle;
}

.header_svg {
  height: 100%;
  fill: #DDDDDD;
  vertical-align: top;
}

.header_span_container {
  height: 100%;
  display: inline-block;
  /* line-height: 2em; */
}

/* .header_span_container:hover {
  color: #8D8741;
} */

/*  */

/* select session popup */

.save_session_alert {
  height: 100%;
  display: inline-block;
  color: #8D8741;
}

/* The Modal (background) */

/*  */

.popup {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}

/* Modal Header */

.popup_header {
  padding: 2px 16px;
  height: 2em;
  background-color: #8D8741;
  color: white;
}

.popup_header_text {
  line-height: 2em;
}

/* Modal Body */

#save_popup_body #history_popup_body {
  /* padding: 2px 16px; */
  background-color: #254E58;
  padding-bottom: 2em;
  padding: 2px 16px;
}

#popup_table_titles {
  padding: 0px 16px;
  line-height: 2em;
  display: grid;
  grid: 2em / calc(calc(100% / 10) * 3) calc(calc(100% / 10) * 3) calc(calc(100% / 10) * 3) calc(100% / 10);
}

.popup_table_grid {
  cursor: default;
  border-radius: 6px;
  padding: 2px 16px;
  line-height: 3em;
  display: grid;
  grid: 3em / calc(calc(100% / 10) * 3) calc(calc(100% / 10) * 3) calc(calc(100% / 10) * 3) calc(100% / 10);
}

.popup_table_grid:hover {
  background-color: #112D32;
}

.popup_mysql_progress {
  display: none;
  /* Hidden by default */
  min-height: 2em;
  width: 100%;
  background-color: #112D32;
}

.popup_mysql_progress_content {
  padding: 2px 16px;
}

.popup_progress_data_row {
  height: 2em;
  display: grid;
  grid: 2em / calc(calc(100% / 10) * 3) calc(calc(100% / 10) * 7);
}

.popup_progress_title {
  line-height: 2em;
}

.popup_progress_data_right {
  display: inline-block;
  float: right;
}

.popup_progress_data_right .span {
  display: flex;
}

.popup_progress_data_right :nth-child(1) {
  order: 1;
}

.popup_progress_data_right :nth-child(2) {
  order: 2;
}

.popup_progress_data_right :nth-child(3) {
  order: 3;
}

/* .popup_mysql_progress_content div {
  line-height: 2em;
} */

.popup_progress_current, .popup_progress_slash, .popup_progress_amount {
  float: right;
  display: inline-flex;
}

/* Modal Content */

.popup_content {
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* position: relative; */
  background-color: #254E58;
  margin: auto;
  padding: 0;
  /* border: 1px solid #888; */
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  padding-bottom: 1.5em;
}

/* Add Animation */

@keyframes animatetop {
  from {
    top: 0px;
    opacity: 0
  }
  to {
    top: 25%;
    opacity: 1
  }
}

/* The Close Button */

.close {
  /* color: #aaa; */
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*  */

/* end popup stuff */

/*  */

.page_title {
  /* margin-top: 1em; */
  height: 2em;
  line-height: 2em;
}

.lap_selection {
  margin-top: 1em;
  height: 2em;
  line-height: 2em;
}

.page_title_left_class, .lap_selection_left_class, .lap_selection_element_class {
  display: inline-block;
}

#select_session_nav_button {
  border-radius: 6px;
  background-color: #254E58;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.2em;
  margin-left: 3em;
  padding-bottom: 0.2em;
  border-style: solid;
  border-color: #254E58;
  cursor: pointer;
}

.select_lap_nav_button {
  border-radius: 6px;
  background-color: #254E58;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.2em;
  margin-left: 3em;
  padding-bottom: 0.2em;
  border-style: solid;
  border-color: #254E58;
  cursor: pointer;
}

.select_lap_nav_button:hover, #select_session_nav_button:hover {
  background-color: #8D8741;
}

.nav_item:hover {
  color: #8D8741;
}

.nav_item:hover svg {
  fill: #8D8741;
}

.nav_item_right:hover svg {
  fill: #8D8741;
}

.element_container {
  margin-right: 2em;
  margin-left: 2em;
  height: calc(100vh - 4em);
}

.live_page_element {
  margin-top: 0.5%;
  width: 100%;
  height: 60px;
  /* background-color: #254E58; */
}

#history_grid {
  display: grid;
  grid: calc((100vh - 4em) / 3) calc((100vh - 4em) / 3) calc((100vh - 4em) / 3) / 100%;
}

#history_grid_top {
  margin-top: 1em;
}

#history_grid_middle {
  margin-top: 1em;
}

#history_grid_bottom {
  margin-top: 1em;
}

#sgr_graph {
  margin-top: 0.5em;
  height: calc(100% - 5em);
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

.graph_title {
  /* width: 100%; */
  height: 1em;
  margin-top: 1em;
  /* margin-bottom: 1vw; */
  margin-left: 1em;
  margin-right: 1em;
}

.speed_title_text {
  border-bottom: solid;
  border-color: #8D8741;
}

.gear_title_text {
  border-bottom: solid;
  border-color: #7FDBFF;
}

.rpm_title_text {
  border-bottom: solid;
  border-color: #FF4136;
}

#sgr_graph_container {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  height: 12em;
  width: -webkit-fill-available;
  /* background-color: transparent; */
}

#History_mid_section_grid {
  margin-top: 0.5em;
  display: grid;
  grid: calc(((100vh - 4em) / 3) - 1em) / calc((100% / 11) * 3) calc((100% / 11) * 5) calc((100% / 11) * 3);
}

.mid_section_grid_element {
  border-radius: 6px;
  background-color: #254E58;
}

#history_grid_time {
  margin-right: 2em;
  background-color: #112D32;
}

#history_grid_map {
  margin-right: 2em;
}

#history_grid_standing {
  background-color: #112D32;
}

/*
#standing_element_grid_container {
  height: -webkit-fill-available;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
} */

.element_title {
  border-radius: 6px;
  background-color: #254E58;
  width: auto;
  height: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

#time_element_title {
  border-radius: 6px;
  background-color: #254E58;
}

#time_element_grid {
  height: calc(100% - 3em);
  /* margin-top: 1em; */
  /* margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em; */
  display: grid;
  grid: calc(100% / 3) calc(100% / 3) calc(100% / 3) / calc(100% / 3) calc(100% / 3) calc(100% / 3);
}

.time_element_grid_element {
  border-radius: 6px;
  background-color: #254E58;
}

.time_element_grid_data_container {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.time_element_title {
  text-align: center;
}

.time_element_data {
  text-align: center;
  margin-top: 10px;
  font-size: 2em;
}

#time_element_total_time {
  margin-right: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

#time_element_current_lap {
  margin-right: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

#time_element_last_lap {
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

#time_element_best_lap {
  margin-right: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

#time_element_penalties {
  margin-right: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

#time_element_current_sector {
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

#time_element_sector_1 {
  margin-right: 0.5em;
  margin-top: 0.25em;
}

#time_element_sector_2 {
  margin-right: 0.5em;
  margin-top: 0.25em;
}

#time_element_sector_3 {
  margin-top: 0.25em;
}

#standing_element_grid {
  height: calc(100% - 3em);
  /* margin-top: 1em; */
  /* margin-bottom: 1em; */
  /* margin-left: 1em; */
  /* margin-right: 1em; */
  display: grid;
  grid: calc(100% / 20) calc(100% / 20) calc(100% / 20) calc(100% / 20) calc(100% / 20) calc(100% / 20) calc(100% / 20) calc(100% / 20) calc(100% / 20) calc(100% / 20) calc(100% / 20) calc(100% / 20) calc(100% / 20) calc(100% / 20) calc(100% / 20) calc(100% / 20) calc(100% / 20) calc(100% / 20) calc(100% / 20) calc(100% / 20) / 100%;
}

.standing_element_grid_element {
  border-radius: 6px;
  background-color: #254E58;
  /* border-style: solid; */
  border-top: solid;
  border-color: #112D32;
  display: grid;
  grid: 100% / calc(100% / 10) calc((100% / 10) * 3) calc((100% / 10) * 3) calc((100% / 10) * 3);
}

.standing_element_grid_element div {
  /* border-style: solid;
  border-color: #112D32; */
}

/* bottom grid */

#History_bottom_section_grid {
  margin-top: 0.5em;
  display: grid;
  grid: calc(((100vh - 4em) / 3) - 1em) / calc(100% / 3) calc(100% / 3) calc(100% / 3);
}

.bottom_section_grid_element {
  border-radius: 6px;
  background-color: #254E58;
}

.bottom_section_grid_element_container {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom_section_grid_element_title {
  text-align: center;
}

.bottom_section_grid_element_data {
  text-align: center;
  margin-top: 10px;
  font-size: 2em;
}

#left_car_grid {
  margin-right: 0.5em;
}

#F1_car_graphic {
  margin-right: 0.5em;
  margin-bottom: 1em;
}

#right_car_grid {}

/* Bottom grid left */

#left_car_grid {
  display: grid;
  grid: calc((((100vh - 4em) / 3) - 1em) * 0.45) calc((((100vh - 4em) / 3) - 1em) * 0.1) calc((((100vh - 4em) / 3) - 1em) * 0.45) / 100%;
}

#left_front_car_grid {
  display: grid;
  grid: 5em 5em / calc(100% / 3) calc(100% / 3) calc(100% / 3);
}

#left_back_car_grid {
  display: grid;
  grid: 5em 5em / calc(100% / 3) calc(100% / 3) calc(100% / 3);
}

/* Bottom grid right */

#right_car_grid {
  display: grid;
  grid: calc((((100vh - 4em) / 3) - 1em) * 0.45) calc((((100vh - 4em) / 3) - 1em) * 0.1) calc((((100vh - 4em) / 3) - 1em) * 0.45) / 100%;
}

#right_front_car_grid {
  display: grid;
  grid: 5em 5em / calc(100% / 3) calc(100% / 3) calc(100% / 3);
}

#right_back_car_grid {
  display: grid;
  grid: 5em 5em / calc(100% / 3) calc(100% / 3) calc(100% / 3);
}

/* FL grid */

#fl_tyre_pressure {
  margin-right: 0.5em;
  margin-bottom: 0.25em;
}

#fl_tyre_wear {
  margin-right: 0.5em;
  margin-bottom: 0.25em;
}

#fl_tyre_temp {
  margin-bottom: 0.25em;
}

#fl_suspension_position {
  margin-right: 0.5em;
  margin-top: 0.25em;
}

#fl_tyre_damage {
  margin-right: 0.5em;
  margin-top: 0.25em;
}

#fl_break_temp {
  margin-top: 0.25em;
}

/* BL grid */

#bl_suspension_position {
  margin-right: 0.5em;
  margin-bottom: 0.25em;
}

#bl_tyre_damage {
  margin-right: 0.5em;
  margin-bottom: 0.25em;
}

#bl_break_temp {
  margin-bottom: 0.25em;
}

#bl_tyre_pressure {
  margin-right: 0.5em;
  margin-top: 0.25em;
}

#bl_tyre_wear {
  margin-right: 0.5em;
  margin-top: 0.25em;
}

#bl_tyre_temp {
  margin-top: 0.25em;
}

/* FR grid */

#fr_tyre_temp {
  margin-right: 0.5em;
  margin-bottom: 0.25em;
}

#fr_tyre_wear {
  margin-right: 0.5em;
  margin-bottom: 0.25em;
}

#fr_tyre_pressure {
  margin-bottom: 0.25em;
}

#fr_break_temp {
  margin-right: 0.5em;
  margin-top: 0.25em;
}

#fr_tyre_damage {
  margin-right: 0.5em;
  margin-top: 0.25em;
}

#fr_suspension_position {
  margin-top: 0.25em;
}

/* BR grid */

#br_break_temp {
  margin-right: 0.5em;
  margin-bottom: 0.25em;
}

#br_tyre_damage {
  margin-right: 0.5em;
  margin-bottom: 0.25em;
}

#br_suspension_position {
  margin-bottom: 0.25em;
}

#br_tyre_temp {
  margin-right: 0.5em;
  margin-top: 0.25em;
}

#br_tyre_wear {
  margin-right: 0.5em;
  margin-top: 0.25em;
}

#br_tyre_pressure {
  margin-top: 0.25em;
}

/* F1 car svg */

#f1_svg_fl_tyre {}

#f1_svg_rl_tyre {}

#f1_svg_fl_suspension_struct {}

#f1_svg_rl_suspension_struct {}

#f1_svg_fl_suspension {}

#f1_svg_rr_suspension_struct {}

#f1_svg_fr_suspension_struct {}

#f1_svg_fr_suspension {}

#f1_svg_rr_tyre {}

#f1_svg_fr_tyre {}

/* #first_row_first_position {
  margin-right: 0.5em;
  margin-bottom: 0.25em;
} */

/* .telemetry_grid_element_data_container {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.telemetry_data_title {
  text-align: center;
}

.telemetry_data_data {
  text-align: center;
  margin-top: 10px;
  font-size: 2em;
} */
